In [ ]:
Introduction to Python Programming:

In [ ]:
Concept of variables in python , like x, y, z etc.

In [ ]:
For Example:

In [ ]:
x = 2
y = 3

In [5]:
z = x+y
print(z)

5

In [ ]:
x=2
y=3

In [6]:
z=x+y
print(z)

5

In [7]:
x=2
y=3
z=x+y
print(z)

5

In [ ]:
Rules for declaring the variables:

In [ ]:
There are three primary rules to declare the variables,

In [ ]:
Rule 1: No namespace while declaring the variables : Meaning there souldnt be any space between two words, Example

In [ ]:
My Name=Ashfaq

In [9]:
print(My Name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2664823721.py, line 1)

In [16]:
myname = 'Ashfaq'

In [17]:
print(myname)

Ashfaq

In [18]:
myname=Ashfaq

NameError: name 'Ashfaq' is not defined

In [19]:
myname='ashfaq'

In [20]:
print(myname)

ashfaq

In [ ]:
Rule no 2: A variable name should not start with number: but a variable can end with number or a number can be in between variable , for example,

In [23]:
1name='ashfaq'
print(1name)

SyntaxError: invalid decimal literal (3467878951.py, line 1)

In [25]:
name1='ashfaq'
print(name1)

ashfaq

In [26]:
nam1e='ashfaq'
print(nam1e)

ashfaq

In [ ]:
Rule no 3: A variable name should not contain any special characters like, @, $, %, & , * etc: you will get syntax error when ever or where ever you use special characters, like infront of the variable, in between or at the end still you get sysntax error: for example,

In [27]:
name@='ashfaq'
print(name@)

SyntaxError: invalid syntax (3210157719.py, line 2)

In [28]:
nam@e='ashfaq'
print(nam@e)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (665280725.py, line 1)

In [29]:
@name='ashfaq'
print(@name)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (348751708.py, line 1)

In [ ]:
Next: Introduction to data types in Python:

In [ ]:
There are different data types like,
1. String---short form--->str 
2. Numbers--> it can be integers, float etc---> Integers---short form-->(int) ,float(decimals like dot.)--short form--> float
3. lists---short form---> list
4. Tuples-----short form----> tuple
5. Dictionaries-----short form---->dict

In [ ]:
Classification of data types: there are two types,
1. Mutable data types: Mean which we can able to edit/alter
2. Immutable data types: Mean which we can not able to edit/alter

In [ ]:
Introduction to string data types:
Defination: A string is a series of characters declared in quotes ('' & "").
Classification: It is classified as an immutable data type.
how to delcare the string:
    1. Single quote.
    2. Double quote.
For example,

In [30]:
Name='ashfaq' # Single quote
print(Name)

ashfaq

In [31]:
name="ashfaq"  # Double quote
Print(name)

NameError: name 'Print' is not defined

In [32]:
name="ashfaq"
print(name)

ashfaq

In [ ]:
print funcion can not start with capital letter'P' it should be small letter.

In [ ]:
To find out it is a string or not we can use string method,
understanding the string methods:

In [33]:
type(name)

str

In [34]:
type(ashfaq)

NameError: name 'ashfaq' is not defined

In [35]:
type('ashfaq')

str

In [ ]:
by using type function we can find whether it is a string or not.

In [ ]:
Next, by using programming or method we can convert the format, like converting the first letter of word in to capital letter, or converting the whole word to capital letter or small letter: for example,

In [ ]:
Converting first letter to capital:

In [36]:
fullname='ashfaq ahmed'
print(fullname)

ashfaq ahmed

In [37]:
print(fullname.title())

Ashfaq Ahmed

In [ ]:
here .title() is use to convert first letter of word/character to capital

In [ ]:
Converting whole characters/word to captial letter:

In [38]:
print(fullname.upper())

ASHFAQ AHMED

In [ ]:
.upper() is used to change the whole name/charcters to capital

In [ ]:
Converting whole characters/word to small letter:

In [39]:
print(fullname.lower())

ashfaq ahmed

In [40]:
name='End of Day2_B79'
print(name)

End of Day2_B79